<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Status</key>
	<dict>
		<key>happiness</key>
		<integer>50</integer>
		<key>energy</key>
		<integer>100</integer>
		<key>hunger</key>
		<integer>50</integer>
		<key>thirst</key>
		<integer>50</integer>
		<key>fun</key>
		<integer>50</integer>
		<key>hygiene</key>
		<integer>100</integer>
	</dict>
	<key>Items</key>
	<dict>
		<key>FoodAndDrinks</key>
		<array>
			<dict>
				<key>id</key>
				<integer>0</integer>
				<key>name</key>
				<string>Water</string>
				<key>description</key>
				<string>+5 Thirst</string>
				<key>cost</key>
				<integer>5</integer>
				<key>imageName</key>
				<string>water</string>
				<key>happinessChange</key>
				<integer>0</integer>
				<key>energyChange</key>
				<integer>0</integer>
				<key>hungerChange</key>
				<integer>0</integer>
				<key>thirstChange</key>
				<integer>5</integer>
				<key>funChange</key>
				<integer>0</integer>
				<key>hygieneChange</key>
				<integer>0</integer>
				<key>numOwned</key>
				<integer>0</integer>
				<key>isConsumable</key>
				<true/>
			</dict>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>name</key>
				<string>Apple</string>
				<key>description</key>
				<string>+5 Happiness, +5 Hunger</string>
				<key>cost</key>
				<integer>5</integer>
				<key>imageName</key>
				<string>apple</string>
				<key>happinessChange</key>
				<integer>5</integer>
				<key>energyChange</key>
				<integer>0</integer>
				<key>hungerChange</key>
				<integer>5</integer>
				<key>thirstChange</key>
				<integer>0</integer>
				<key>funChange</key>
				<integer>0</integer>
				<key>hygieneChange</key>
				<integer>0</integer>
				<key>numOwned</key>
				<integer>0</integer>
				<key>isConsumable</key>
				<true/>
			</dict>
			<dict>
				<key>id</key>
				<integer>2</integer>
				<key>name</key>
				<string>Broccoli</string>
				<key>description</key>
				<string>-5 Happiness, +10 Hunger</string>
				<key>cost</key>
				<integer>20</integer>
				<key>imageName</key>
				<string>broccoli</string>
				<key>happinessChange</key>
				<integer>-5</integer>
				<key>energyChange</key>
				<integer>0</integer>
				<key>hungerChange</key>
				<integer>10</integer>
				<key>thirstChange</key>
				<integer>0</integer>
				<key>funChange</key>
				<integer>0</integer>
				<key>hygieneChange</key>
				<integer>0</integer>
				<key>numOwned</key>
				<integer>0</integer>
				<key>isConsumable</key>
				<true/>
			</dict>
			<dict>
				<key>id</key>
				<integer>3</integer>
				<key>name</key>
				<string>Coffee</string>
				<key>description</key>
				<string>+5 Happiness, +10 Energy, +5 Thirst</string>
				<key>cost</key>
				<integer>20</integer>
				<key>imageName</key>
				<string>coffee</string>
				<key>happinessChange</key>
				<integer>5</integer>
				<key>energyChange</key>
				<integer>10</integer>
				<key>hungerChange</key>
				<integer>0</integer>
				<key>thirstChange</key>
				<integer>5</integer>
				<key>funChange</key>
				<integer>0</integer>
				<key>hygieneChange</key>
				<integer>0</integer>
				<key>numOwned</key>
				<integer>0</integer>
				<key>isConsumable</key>
				<true/>
			</dict>
			<dict>
				<key>id</key>
				<integer>4</integer>
				<key>name</key>
				<string>Chocolate</string>
				<key>description</key>
				<string>+20 Happiness, +5 Hunger</string>
				<key>cost</key>
				<integer>50</integer>
				<key>imageName</key>
				<string>chocolate</string>
				<key>happinessChange</key>
				<integer>20</integer>
				<key>energyChange</key>
				<integer>0</integer>
				<key>hungerChange</key>
				<integer>5</integer>
				<key>thirstChange</key>
				<integer>0</integer>
				<key>funChange</key>
				<integer>0</integer>
				<key>hygieneChange</key>
				<integer>0</integer>
				<key>numOwned</key>
				<integer>0</integer>
				<key>isConsumable</key>
				<true/>
			</dict>
		</array>
		<key>Care</key>
		<array>
			<dict>
				<key>id</key>
				<integer>0</integer>
				<key>name</key>
				<string>Toy Ball</string>
				<key>description</key>
				<string>+10 Happiness, -10 Energy, +10 Fun, -10 Hygiene</string>
				<key>cost</key>
				<integer>15</integer>
				<key>imageName</key>
				<string>ball</string>
				<key>happinessChange</key>
				<integer>10</integer>
				<key>energyChange</key>
				<integer>-10</integer>
				<key>hungerChange</key>
				<integer>0</integer>
				<key>thirstChange</key>
				<integer>0</integer>
				<key>funChange</key>
				<integer>10</integer>
				<key>hygieneChange</key>
				<integer>-10</integer>
				<key>numOwned</key>
				<integer>0</integer>
				<key>isConsumable</key>
				<true/>
			</dict>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>name</key>
				<string>Soap</string>
				<key>description</key>
				<string> +15 Hygiene</string>
				<key>cost</key>
				<integer>10</integer>
				<key>imageName</key>
				<string>soap</string>
				<key>happinessChange</key>
				<integer>10</integer>
				<key>energyChange</key>
				<integer>0</integer>
				<key>hungerChange</key>
				<integer>0</integer>
				<key>thirstChange</key>
				<integer>0</integer>
				<key>funChange</key>
				<integer>0</integer>
				<key>hygieneChange</key>
				<integer>15</integer>
				<key>numOwned</key>
				<integer>0</integer>
				<key>isConsumable</key>
				<true/>
			</dict>
		</array>
		<key>Decorations</key>
		<array>
			<dict>
				<key>id</key>
				<integer>0</integer>
				<key>name</key>
				<string>Pink Stripe Wall</string>
				<key>description</key>
				<string>Background 1</string>
				<key>cost</key>
				<integer>0</integer>
				<key>imageName</key>
				<string>bg1</string>
				<key>image</key>
				<string>background1</string>
				<key>numOwned</key>
				<integer>1</integer>
				<key>isConsumable</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>name</key>
				<string>Green Stripe Wall</string>
				<key>description</key>
				<string>Background 2</string>
				<key>cost</key>
				<integer>20</integer>
				<key>imageName</key>
				<string>bg2</string>
				<key>image</key>
				<string>background2</string>
				<key>numOwned</key>
				<integer>0</integer>
				<key>isConsumable</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<integer>2</integer>
				<key>name</key>
				<string>Outside With Tree</string>
				<key>description</key>
				<string>Background 3</string>
				<key>cost</key>
				<integer>50</integer>
				<key>imageName</key>
				<string>bg3</string>
				<key>image</key>
				<string>background3</string>
				<key>numOwned</key>
				<integer>0</integer>
				<key>isConsumable</key>
				<false/>
			</dict>
		</array>
	</dict>
</dict>
</plist>
