<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Status</key>
	<dict>
		<key>happiness</key>
		<integer>50</integer>
		<key>energy</key>
		<integer>100</integer>
		<key>hunger</key>
		<integer>50</integer>
		<key>thirst</key>
		<integer>50</integer>
		<key>fun</key>
		<integer>50</integer>
		<key>hygiene</key>
		<integer>100</integer>
	</dict>
	<key>Items</key>
	<dict>
		<key>Food</key>
		<array>
			<dict>
				<key>id</key>
				<integer>0</integer>
				<key>name</key>
				<string>Apple</string>
				<key>description</key>
				<string>An apple a day keeps anyone away if you throw it hard enough. +5 Happiness, +5 Hunger</string>
				<key>cost</key>
				<integer>5</integer>
				<key>imageName</key>
				<string>apple</string>
				<key>happinessChange</key>
				<integer>5</integer>
				<key>energyChange</key>
				<integer>0</integer>
				<key>hungerChange</key>
				<integer>5</integer>
				<key>thirstChange</key>
				<integer>0</integer>
				<key>funChange</key>
				<integer>0</integer>
				<key>hygieneChange</key>
				<integer>0</integer>
				<key>numOwned</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>name</key>
				<string>Broccoli</string>
				<key>description</key>
				<string>Eww, broccoli! -5 Happiness, +10 Hunger</string>
				<key>cost</key>
				<integer>20</integer>
				<key>imageName</key>
				<string>broccoli</string>
				<key>happinessChange</key>
				<integer>-5</integer>
				<key>energyChange</key>
				<integer>0</integer>
				<key>hungerChange</key>
				<integer>10</integer>
				<key>thirstChange</key>
				<integer>0</integer>
				<key>funChange</key>
				<integer>0</integer>
				<key>hygieneChange</key>
				<integer>0</integer>
				<key>numOwned</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>2</integer>
				<key>name</key>
				<string>Chocolate</string>
				<key>description</key>
				<string>Chocolate? CHOCOLATE!!! +20 Happiness, +5 Hunger</string>
				<key>cost</key>
				<integer>50</integer>
				<key>imageName</key>
				<string>chocolate</string>
				<key>happinessChange</key>
				<integer>20</integer>
				<key>energyChange</key>
				<integer>0</integer>
				<key>hungerChange</key>
				<integer>5</integer>
				<key>thirstChange</key>
				<integer>0</integer>
				<key>funChange</key>
				<integer>0</integer>
				<key>hygieneChange</key>
				<integer>0</integer>
				<key>numOwned</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Drinks</key>
		<array>
			<dict>
				<key>id</key>
				<integer>0</integer>
				<key>name</key>
				<string>Water</string>
				<key>description</key>
				<string>The most basic thirst quencher. +5 Thirst</string>
				<key>cost</key>
				<integer>5</integer>
				<key>imageName</key>
				<string>water</string>
				<key>happinessChange</key>
				<integer>0</integer>
				<key>energyChange</key>
				<integer>0</integer>
				<key>hungerChange</key>
				<integer>0</integer>
				<key>thirstChange</key>
				<integer>5</integer>
				<key>funChange</key>
				<integer>0</integer>
				<key>hygieneChange</key>
				<integer>0</integer>
				<key>numOwned</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>name</key>
				<string>Coffee</string>
				<key>description</key>
				<string>The precioussss. +5 Happiness, +10 Energy, +5 Thirst</string>
				<key>cost</key>
				<integer>20</integer>
				<key>imageName</key>
				<string>coffee</string>
				<key>happinessChange</key>
				<integer>5</integer>
				<key>energyChange</key>
				<integer>10</integer>
				<key>hungerChange</key>
				<integer>0</integer>
				<key>thirstChange</key>
				<integer>5</integer>
				<key>funChange</key>
				<integer>0</integer>
				<key>hygieneChange</key>
				<integer>0</integer>
				<key>numOwned</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Toys</key>
		<array>
			<dict>
				<key>id</key>
				<integer>0</integer>
				<key>name</key>
				<string>Toy Ball</string>
				<key>description</key>
				<string>Throw the ball. Throw it! +10 Happiness, -10 Energy, +10 Fun, -10 Hygiene</string>
				<key>cost</key>
				<integer>15</integer>
				<key>imageName</key>
				<string>ball</string>
				<key>happinessChange</key>
				<integer>10</integer>
				<key>energyChange</key>
				<integer>-10</integer>
				<key>hungerChange</key>
				<integer>0</integer>
				<key>thirstChange</key>
				<integer>0</integer>
				<key>funChange</key>
				<integer>10</integer>
				<key>hygieneChange</key>
				<integer>-10</integer>
				<key>numOwned</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>name</key>
				<string>Soap</string>
				<key>description</key>
				<string> +15 Hygiene</string>
				<key>cost</key>
				<integer>10</integer>
				<key>imageName</key>
				<string>soap</string>
				<key>happinessChange</key>
				<integer>10</integer>
				<key>energyChange</key>
				<integer>0</integer>
				<key>hungerChange</key>
				<integer>0</integer>
				<key>thirstChange</key>
				<integer>0</integer>
				<key>funChange</key>
				<integer>0</integer>
				<key>hygieneChange</key>
				<integer>15</integer>
				<key>numOwned</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
